* {
	font-size: inherit;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#root {
	font-size: 4vmin;
}

/* Posts */

a.no_style {
	color: inherit;
	text-decoration: none;
	background: none;
	font: inherit;
}

/*
#posts_container {
}
*/

.post {
	border: 2px solid black;
	background-color: seagreen;
}

/* Users */
/*
#users_container {
}
*/

.user_container {
	border: 2px solid black;
	background-color: olive;
}
