#html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

#body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: aqua;
	display: flex;
	flex-direction: column;
}

#nav_bar {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10%;
	background-image: linear-gradient(red, blue);
}

#main_container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80%;
	background-image: linear-gradient(yellow, green);
	display: flex;
	flex-direction: row;
}

#footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 10%;
	background-image: linear-gradient(yellow, blue);
}

#side_bar_left {
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;
	background-image: linear-gradient(to right, yellow, red);
}

#main_content {
	margin: 0;
	padding: 0;
	width: 70%;
	height: 100%;
	background-image: linear-gradient(to right, blue, red);
}

#side_bar_right {
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;

	background-image: linear-gradient(to right, yellow, blue);
}

/*
	<div id="root">
		<div id="nav_bar"></div>
		<div id="side_bar_left"></div>
		<div id="main_content"></div>
		<div id="side_bar_right"></div>
		<div id="footer"></div>

	</div>
*/
